<% content_for :navigation do %>
  <%= link_to "Back", season_path(@season) %>
<% end %>

<h2>Game #<%= @game.number %> - <%= @game.date.strftime("%B %e, %Y") %></h2> 

<% @game.tables.each do |table| %>
  <table class="single-game">
    <caption>Table <%= table.number %></caption>
    <% table.seats_in_order_of_place.each_with_index do |seat, index| %>
      <tr class="<%= cycle("odd", "even")%>">
        <% if index == 0 %>
          <td id="top-left">
        <% elsif index == 7 %>
          <td id="bottom-left">
        <% else %>
          <td>
        <% end %>
          <%= seat.place.ordinalize if seat.place %>
        </td>
        <% if index == 0 %>
          <td id="top-right">
        <% elsif index == 7 %>
          <td id="bottom-right">
        <% else %>
          <td>
        <% end %>
          <%= link_to seat.player.name, season_player_path(@season, seat.player) %>
          <% if seat.sub_id != nil %>
            (<%= @name_lookup[seat.sub_id] %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>  
<% end %>


